<!DOCTYPE html>
<html>
<head>
  <!-- Getting the Google Maps API script -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
  
  
  <!-- Getting the jQuery script You will need to activate the API and get your own key from appengine.google.com -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=[YOUR_API_KEY_HERE]"></script>
  <!-- This is our script -->
  
  
  <script>
    var address = "{{address_from_python_dict}}"; 
    console.log("address: ", address);
  </script>
  
  <script type="text/javascript" src="scripts/script.js"></script>
  <!-- And finally our script -->
  
  
  
  <link type="text/css" rel="stylesheet" href="styles/style.css"/>
  
</head>


<body>
  <div id="general_container">
    <div>Address: {{address_from_python_dict}}</div>
    <div class="center_text">Let's use the google API</div>
    <div id="form_container">
      
<!--      This section gets data from python to have it be passed on to our 
      map display. IF THE USER IS MANUALLY INPUTTING THIS DATA, comment out lines
      14-17-->
      
      <form method="post" id="address_form" class="user_form">
        <label>Or would you prefer to use an address?</label><input id="address" name="address" type="text"/>
        <input name="submit_button" type="submit" id="address_submit" class="submit_btn"/>
      </form>
    
    </div>
    
    <br>
    <!--NOW THE FOLLOWING CREATE OUR MAP WITH THE CSS FILE -->
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
  </div>
<body>
</html>



<!--      The following may be replaced with the area surrounded with comments 
      to add a button and input for the user to manually input the location-->
      
      <!--<form method="post" id="coord_form" class="user_form">-->
      <!--  <label>Enter Coordinates:</label><br>-->
        
      <!--  <div class="coordinate_input">-->
      <!--    <label>Lat:</label><input id="lat" name="lat" type="text"/>-->
      <!--    <br>-->
      <!--    <label>Lon:</label><input id="lon" name="lon" type="text"/>-->
      <!--  </div>-->
      <!--  <input name="submit_button" type="submit" id="coord_submit" class="submit_btn"/>-->
      <!--</form>-->
